# testing rule updates: ovs-ofctl add-flow br0 dl_type=0x0800,nw_src=192.168.0.1,nw_dst=10.0.0.1,actions=output:2,CONTROLLER



python 38
ryu
wsgi

apt install gcc python-dev libffi-dev libssl-dev libxml2-dev libxslt1-dev zlib1g-dev

python3 -m pip install dnspython==2.2.1

eventlet==0.31.1 \ 
msgpack>=0.4.0  \# RPC library, BGP speaker(net_cntl)
netaddr \
oslo.config>=2.5.0 \
ovs>=2.6.0  \# OVSDB
packaging==20.9 \ 
routes  \ # wsgi
six>=1.4.0 \
tinyrpc==1.0.4 \ # RPC library, BGP speaker(net_cntl)
webob>=1.2  # wsgi

pip install eventlet==0.30.2 msgpack>=0.4.0 netaddr oslo.config>=2.5.0 ovs>=2.6.0 packaging==20.9 routes six>=1.4.0 tinyrpc==1.0.4 webob>=1.2

colorlog

# resolver o erro de   ==>    AttributeError: module 'setuptools.command.easy_install' has no attribute 'get_script_args'
pip uninstall setuptools 
pip install setuptools==67.6.1

#### * Got -> Cannot import name 'ALREADY_HANDLED' from 'eventlet.wsgi' ? Then run ->>> pip install eventlet==0.30.2

#docker sdk para o qosblockchain
pip install docker

- python-pip
`apt-get install python-pip`

- setuptools.
`apt-get install python-setuptools`

- routes
`apt-get install python-routes`

- netaddr
`apt-get install python-netaddr`

- python-dev
`apt-get install python-dev`


- webob
`pip install webob`

- oslo.config
`pip install oslo.config`

- msgpack-python
`pip install msgpack-python`

- eventlet (pip install eventlet==0.30.2)
`pip install eventlet`

- stevedore
`pip install stevedore`

- six
`pip install six`
		
- netaddr
`pip install netaddr`

- networkx
`pip install networkx`


# qosblockchain:

* sawtooth-sdk (pip install sawtooth-sdk) (necessário para o client)

* docker

* docker-compose

* toml

* color

* yaml

* pip install sawtooth-signing

* pip install psutil

* pip install protobuf==3.19

pip install python-libpcap

pip install scapy

## Necessário !!

* copiar https://github.com/hyperledger-archives/sawtooth-sdk-python/blob/main/sawtooth_signing/secp256k1.py para o local onde o pacote sawtooth-signing foi instalado. Se estiver utilizando conda, provavelmente esteja em $HOME/miniconda/envs/!!NOME_AMBIENTE_VIRTUAL_PYTHON!!/lib/python3.8/site-packages/sawtooth_signing/secp256k1.py  --> A versão recuperada pelo pip pode levar a erros !!

# para utilizar ovs
sudo apt-get install openvswitch-switch openvswitch-switch-dpdk

# ou instalar manualmente :  (NOP, instalar manualmente) -> eu tive o problema de ovs-vswitchd kernel não subir corretamente ubuntu.
# git clone https://github.com/openvswitch/ovs.git
# cd ovs; ./boot.sh
# ./configure
# sudo apt-get install autoconf